In [1]:
import pandas as pd

In [9]:
frame_shop = {"Frame":["Red", "Blue", "Yellow", "Green", "Purple"], 
              "Price":[1.99, 2.99, 3.99, 4.99, .99], 
              "Sales":["None", "50% off", "10% off", "None", "None"]}

In [10]:
frame_df = pd.DataFrame(frame_shop)
frame_df

    Frame  Price    Sales
0     Red   1.99     None
1    Blue   2.99  50% off
2  Yellow   3.99  10% off
3   Green   4.99     None
4  Purple   0.99     None

In [11]:
art_gallery = [{"Painting": "The Kevin", "Price":"Priceless", "Popularity": "Not"},
              {"Painting": "The Wy", "Price":"$2", "Popularity": "Very"},
              {"Painting": "The Ann", "Price":"$3,000", "Popularity": "Super"},
              {"Painting": "The Gabe", "Price":"$2", "Popularity": "Eh"}]

In [13]:
art_df = pd.DataFrame(art_gallery)
art_df

    Painting      Price Popularity
0  The Kevin  Priceless        Not
1     The Wy         $2       Very
2    The Ann     $3,000      Super
3   The Gabe         $2         Eh